* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: url(/sistema/images/backgroundEPI2.jpg) no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h4 {
    text-align: center;
    margin: 20px;
    margin-bottom: 50px;
    font-size: 25px;
}

.mid {
    width: 350px;
    border-radius: 10%;
    background-color: #0e3553;
    padding: 50px 20px;
}

input {
    width: 300px;
    height: 35px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #FFFFFF;
    transition: .25s ease-in-out;
}

.field {
    position: relative;
    margin-bottom: 50px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10px);
    transition: .25s ease-in-out;
}

input:focus+label {
    transform: translateY(-14px) scale(.8);
    font-weight: bold;
}

input:not(:placeholder-shown)+label {
    transform: translateY(-14px) scale(.8);
    font-weight: bold;
}

input::placeholder {
    color: transparent;
}

.button {
    padding: 10px 50px;
    border: 2px solid #FFFFFF;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;
    margin-bottom: 15px;
}