* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url(/images/epi.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo {
    width: 50px;
    height: auto;
    padding: 20px 100px;
    cursor: pointer;
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 9px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
}

.wrapper .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: sans-serif;
    user-select: none;
}

.center h1 {
    color: white;
    font-size: 65px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}

.center .buttons {
    margin: 35px 280px;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #0d4671;
    outline: none;
    border: 1px solid #0b395c;
    cursor: pointer;
    border-radius: 25px;
    transition: .5s;
}

.buttons .btn {
    margin-left: 25px;
}

.buttons button:hover {
    background: #0b395c;
}