* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

p {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
  color: #14639e;
}

.logo{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.logoVW {
  width: 50px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: #1b1b1b;
  height: 8vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  /* background-size: cover;
  height: 92vh; */
}

.NavBarLinks{
  list-style: none;
  display: flex;
  align-items: center;
}

.NavBarLinks li{
  letter-spacing: 3px;
  margin-left: 32px;
}

.notificacao{
  width: 40px;
  height: 40px;
}

.sidebar{
  position: fixed;
  width: 300px;
  left: -300px;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-left: 4px solid transparent;
  transition: all .5s ease;
}
.sidebar a:hover,a.active{
  border-left: 5px solid #593632;
  color:#14639e;

}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;

}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 28px;
  background: #1b1b1b;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}

label #cancel{
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  margin-left: 305px;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #cancel{
  margin-left: 305px;
  opacity: 1;
  visibility: visible;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

@media(max-width: 860px){
  .sidebar{
  height: auto;
  width: 70px;
  left: 0;
  margin: 100px 0;
}
header,#btn,#cancel{
  display: none;
}
span{
  position: absolute;
  margin-left: 23px;
  opacity: 0;
  visibility: hidden;
}
.sidebar a{
  height: 60px;

}
.sidebar a i{
  margin-left: -10px;
}
a:hover{
  width: 200px;
  background: inherit;
}
.sidebar a:hover span{
  opacity: 1;
  visibility: visible;
}
}

/* Criando as Tabs do Tutorial*/
/* .label2{
  
  background: #14639e;
  display: grid;
  place-items: center;
  transition: all 1s;
  height: 80vh;
}

.container {
  width: 750px;
  height: 500px;
  box-shadow: 0px 2px 4px black;
  background: white;
  overflow: hidden;
  z-index: 3;
}
.wrapper {
  position: relative;
  width: 750px;
  height: 500px;
  overflow: hidden;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.459);
  color: rgb(160, 236, 241);
}
.nav2{
  position: absolute;
  top: 87%;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid gainsboro;
  z-index: 8;
  background: white;
  color: rgb(150, 240, 177);
}
.nav2 a {
  padding: 10px;
  text-decoration: none;
  color: gray;
  font-size: 1.4rem;
}
.nav2::after{
  content: "";
  display: block;
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 6px;
  background: rgba(231, 228, 228, 0.801);
  border-radius: 5px;
}
.content {
  display: flex;
  width: 750px;
  height: 100%;
}
.item {
  width: 250px;
  color: black;
  background: white;
  display: flex;
  row-gap: 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link {
  transition: all 0.3s;
}
.tabone {
  color: rgb(22, 22, 22);
  transform: scale(1.1);
  border-bottom: 1px solid black;
}
.line {
  width: 70%;
  height: 8px;
  margin-top:5px;
  background: gainsboro;
  border-radius: 8px;
}
.line2 {
  width: 50%;
}
.item i {
  font-weight: bolder;
  font-size: 3rem;
  color: rgb(12, 12, 12);
}
.item1 i {
  color: rgb(243, 118, 160);
}
.item2 i {
  color: rgb(146, 146, 228);
}
.item3 i {
  color: rgb(245, 233, 67);
} */