* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans Light', sans-serif;
}

.carousel .carousel-indicators li {  background-color: gray; }
.carousel .carousel-indicators li.active { background-color: var(--primary); }

.carousel-control-next-icon {background-image: url(your-next-icon.png);}
.carousel-control-prev-icon {background-image: url(your-prev-icon.png);}

textarea {
    resize: none;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.input-icons i {
    position: absolute;
}

.centro {
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(0%, 25%);
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

p {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #14639e;
}

button:hover {
    color: #14639e;
    cursor: pointer;
}

.cor {
    color: white;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logoVW {
    width: 50px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #1b1b1b;
    height: 8vh;
}

main {
    background: url("bg.jpg") no-repeat center center;
    /* background-size: cover;
  height: 92vh; */
}

.NavBarLinks {
    list-style: none;
    display: flex;
    align-items: center;
}

.NavBarLinks li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.notificacao {
    width: 40px;
    height: 40px;
}

.sidebar {
    position: fixed;
    width: 400px;
    left: -400px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-left: 4px solid transparent;
    transition: all .5s ease;
}

.sidebar a:hover,
a.active {
    border-left: 5px solid #06538f;
    color: #14639e;
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 28px;
    background: #1b1b1b;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    margin-left: 405px;
    opacity: 0;
    visibility: hidden;
}

#check:checked~label #cancel {
    margin-left: 405px;
    opacity: 1;
    visibility: visible;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media(max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    header,
    #btn,
    #cancel {
        display: none;
    }
    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
    .sidebar a {
        height: 60px;
    }
    .sidebar a i {
        margin-left: -10px;
    }
    a:hover {
        width: 200px;
        background: inherit;
    }
    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}

.Logotipo {
    animation: mover 2s infinite  alternate;
}

.Logotipo2{
    animation: girar 2s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes girar {
	0% {transform: rotateY(0deg);}
	100% {transform: rotateY(360deg);}
}